@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1420px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1432px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

header {
  background: url("../img/header_fon.png") 0 0/cover no-repeat;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.header__top {
  padding: 80px 0 0 0;
  max-width: 1710px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1432px) {
  .header__top {
    padding: 80px 20px 0 20px;
  }
}
@media (max-width: 992.98px) {
  .header__top {
    padding: 80px 10px 0 10px;
  }
}

.header__top-text {
  position: absolute;
  z-index: 1;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.header__top-fon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  font-size: 144px;
  color: rgba(137, 137, 142, 0.5);
  font-weight: 600;
  line-height: 176px;
}
@media (max-width: 992.98px) {
  .header__top-fon {
    display: none;
  }
}

.header__lupa {
  padding: 0 60px 0 0;
}

.header__mid {
  padding: 210px 0 0 0;
}

.header__mid-title {
  font-weight: 700;
  font-size: 96px;
  line-height: 117px;
  max-width: 580px;
}

.header__mid-text {
  padding: 20px 0 0 0;
  max-width: 610px;
  font-size: 18px;
  line-height: 160%;
  font-weight: 300;
}

.header__bottom {
  padding: 244px 0 101px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.header__bottom-icon {
  z-index: 0;
  text-align: center;
}
.header__bottom-icon img {
  padding: 10px 14px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.header__bottom-link {
  display: block;
  margin: 16px 0 0 0;
}
.header__bottom-link:visited {
  color: #fff;
}

.header__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  widows: 100%;
  z-index: 0;
  margin: 50px 0 0 0;
  padding: 0 0 50px 0;
  font-size: 18px;
}
@media (max-width: 1432px) {
  .header__bottom-list {
    display: none;
  }
}
.header__bottom-list a {
  border-bottom: 3px solid #9F9F9F;
  text-align: center;
  margin: 0 0 0 10px;
  padding: 0 20px;
}
.header__bottom-list a:hover {
  border-bottom: 8px solid #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: -10px 0 0 10px;
}
.header__bottom-list a:visited {
  color: #fff;
}

.cotent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  margin: -30px 0 30px 0;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.block1 {
  max-width: 550px;
  width: 100%;
  text-align: center;
  background: #fff;
}
@media (max-width: 1432px) {
  .block1 {
    max-width: 970px;
    padding: 0 0 30px 0;
    border-bottom: 3px solid #ddd;
  }
}
.block1 h2 {
  padding: 25px 50px 0 50px;
  font-weight: 700;
  font-size: 36px;
}
.block1 p {
  padding: 25px 50px 0 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.block1 button {
  margin: 45px 0 0 0;
  width: 260px;
  height: 59px;
  border: 2px solid #000;
  border-radius: 2px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

@media (max-width: 1432px) {
  .block {
    display: none;
  }
}
.block img {
  width: 100%;
  max-width: 870px;
  height: auto;
}

.block4 {
  max-width: 870px;
  width: 100%;
  text-align: center;
}
@media (max-width: 1432px) {
  .block4 {
    max-width: 970px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.block4 h2 {
  padding: 25px 50px 0 50px;
  font-weight: 700;
  font-size: 36px;
}
.block4 p {
  padding: 25px 50px 0 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.block__icons {
  margin: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1432px) {
  .block__icons {
    padding: 0 0 20px 0;
  }
}

.item1 {
  padding: 0 65px 0 65px;
}

.item2 {
  padding: 0 65px 0 0;
}

.footer__block {
  font-family: "Montserrat", sans-serif;
}
.footer__block h2 {
  font-weight: 700;
  font-size: 64px;
}

.footer__back {
  background: url("../img/bottem__fon.png") 0 0/cover no-repeat;
  color: #fff;
  padding: 270px 0 0 0;
}

.footer__flex {
  padding: 270px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0 0 228px 0;
}

.footer__block {
  border-top: 30px solid #FFCB44;
  max-width: 695px;
  background: rgba(0, 0, 0, 0.6);
}
.footer__block h2 {
  margin: 32px 0 0 40px;
  display: inline-block;
  max-width: 510px;
}
.footer__block iframe {
  margin: 32px 0 0 40px;
}

footer {
  background: rgba(0, 0, 0, 0.8);
  font-family: "Montserrat", sans-serif;
}

.footer__text {
  text-align: center;
  padding: 14px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}